<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-radar"
    version="3.5.1">
    <name>Radar</name>
    <js-module src="www/Radar.js" name="Radar">
        <clobbers target="cordova.plugins.radar" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Radar">
                <param name="android-package" value="io.radar.cordova.RadarCordovaPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <!-- 
            https://radar.com/documentation/sdk/android#request-permissions 
            For background tracking or geofencing with responsive mode, 
            and if targeting API level 29 or above, Radar also requires 
            the new ACCESS_BACKGROUND_LOCATION permission. You must add 
            the ACCESS_BACKGROUND_LOCATION permission to your manifest 
            manually:
        -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
        </config-file>

        <source-file src="src/android/src/main/java/io/radar/cordova/RadarCordovaPlugin.java"
            target-dir="src/io/radar/cordova/" />
        <framework src="io.radar:sdk:3.5.9" />

    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Radar">
                <param name="ios-package" value="CDVRadar" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <preference name="NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION"
            default="Esta aplicación necesita acceder a tu ubicación para brindarte una experiencia personalizada y mejorar tus interacciones dentro de la app." />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$NS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION"
            default="Esta aplicación requiere acceso a tu ubicación para ofrecerte servicios basados en la ubicación, incluso cuando no estés utilizando activamente la app." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$NS_LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="NS_LOCATION_ALWAYS_USAGE_DESCRIPTION"
            default="Esta aplicación requiere acceso a tu ubicación para ofrecerte servicios basados en la ubicación, incluso cuando no estés utilizando activamente la app." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$NS_LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/CDVRadar.h" />
        <source-file src="src/ios/CDVRadar.m" />
        <podspec>
            <pods use-frameworks="true">
                <pod name="RadarSDK" spec="3.5.9" />
            </pods>
        </podspec>
    </platform>
</plugin>